* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border-style: none;
    text-decoration: none;
}
#app{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: 1px solid red;
    padding: 10px;
    background: #17768a;
}
.header {
    width: 100%;
    text-align: center;
}
.left {
    float: left;
    width: 50%;
    padding: 10px;
    background: lemonchiffon;
}
.main {
    float: left;
    width: 50%;
    padding: 10px;
    background: lightcoral;
}